@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size:625%;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none; 
 }
 input,button{
 outline:0;

 }
//   input,textarea,button{
//  -webkit-appearance: none;
//  -moz-appearance: none ;
//  appearance: none ;
// } 
body{
  background: rgba(0,0,0,0.5);   
}
.wrap{
    width:100%;
    height:100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
   
}
header{
    width:100%;
    height:0.45rem;
    background: #000;
    color:#fff;
    line-height: 0.45rem;
    padding:0 0.1rem;
    i.iconfont{
        font-size:0.2rem;
    }
    span{
        margin-left:0.02rem;
    }
    i:nth-child(3){
       float: right;
    }
}
section{
    width:80%;
    height:4rem;
    background: #fff;
    margin-left:10%;
    margin-top:20%;
    p{
        width:40%;
        height:auto;
        margin:0 auto;
        margin-top:0.1rem;
        img{
            width:100%;
            height:auto;
        }
    }
    label{
        width:80%;
        margin-left:10%;
        height:0.4rem;
        margin-top:0.1rem;
        display: block;
        border-bottom:1px solid #ccc;
        line-height: 0.5rem;
        img{
            width:5%;
            height:auto;
        }
        input{
            width:90%;
            height:0.3rem;
            margin-left:5%;
            border:none;
            outline: none;
        }
    }
    button{
        width:80%;
        height:0.4rem;
        background: green;
        color:#fff;
        margin-top:0.5rem;
        margin-left:10%;
        border:none;
        outline: none;
        border-radius: 1rem;
    }
}
